/**
 *
 */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

*:focus {
  outline: 0;
}

.site {
  font: 400 1rem/1 "Source Sans Pro", sans-serif;

  &__main {
    padding: 1rem;
  }

  /* Header */
  &__head {
    &__title {
      margin: 0;
    }
  }

  &__foot {
    &__credits {
      line-height: 1.5;
      margin: 0 auto;
      text-align: center;
    }

    &__link {
      text-decoration: none;
    }
  }
}

/**
 * Set chainable BEM modifiers (see http://bit.ly/2Vu5HvP).
 */
.-text-bold {
  font-weight: 700;
}

.-text-small {
  font-size: 0.875rem;
}
